:root{
    --fuenteparrafos:'Open Sans', sans-serif;
    --fuenteHeading: 'PT Sans', sans-serif;

    
    --blanco:#fff;
    --gris: #e1e1e1;
    --negro:#000;

    /* Paleta de colores Fondo */
    --primario:#5c5757;
    --secundario:#62929a;
}

html{
    font-size:62.5%; /*1rem=10px*/
    box-sizing: border-box; /*Se utiliza para el modelo caja y asi no se sumen los atributos: normales,padding,border y margin */
    min-width:52rem;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: var(--fuenteparrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */


a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
p{
    font-size: 2rem;
}
img{
    max-width: 100%;
}
.SVG{
    width: 3rem;
    height: 3rem;
}

/* Utilidades */

.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.no-decoration{
    list-style: none;
}
.centrar-texto{
    text-align: center;
}
.Scroll__Conteiner{
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type:y mandatory;
}
.Scroll__Area{
    scroll-snap-align: start;
}
.Icon{
    height:5rem ;
    width:5rem ;  
}

/* Header */
@media (min-width: 520px){
    .barra{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 99;
    }
}


/* @media (min-width: 1180px){
    .barra{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
} */
.barra{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (min-width: 520px){
    .header__texto{
        margin-top: 15rem;
    }
}

.logo{
    color:var(--blanco);
    align-self: flex-start;
}

.logo__nombre{
    font-weight: 400;
}

.logo__nombre__bold{
    font-weight: 700;
}
.logo__nombre__color{
    color: var(--gris);
}
@media (min-width: 520px){
    .navegacion{
        display: flex;
        gap: 2rem;

    }
}
.navegacion__enlace{
    display: block;
    padding: 0 0.8rem;
    text-align: center;
    font-size:1.8rem;
    color: var(--blanco);
    border-radius: 12px;
    transition: 0.3s;
    height:fit-content;
    margin-top: 1rem;

}
.navegacion__enlace:hover{
    background-color: var(--gris);
    color: var(--negro);
    height:fit-content;
    transition:0.9s ;
}

.navegacion__enlace#Contactame{
    padding: 0 0.5rem;
    border: 3px solid var(--secundario);
    border-radius: 12px;
}
.navegacion__enlace#Contactame:hover{
    background-color: var(--secundario);
    color: var(--negro);
}
.Opciones{
    display: block;
    margin-top: 3rem;
    background-color: #62929a;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: 0.5s;
    visibility: hidden;
    opacity:0;
    display: none;
}
.Opciones.activo{
    visibility: visible;
    opacity: 1;
    display: block;
}
.Opciones li{
    padding: 1rem 0;
    display: flex;
    gap: 0.5rem;
    opacity: 0.5;
    transition: 0.5s;
}
.Opciones li:not(:first-child){
    border-top: 1px solid var(--primario);
}

.Opciones li img{
    max-height: 5rem;
    max-width: 5rem;
    
}
.Opciones li:hover{
    opacity: 1;

}
.Opciones li a{
    text-decoration: none;
    display: inline-block;
    color: var(--negro);
    font-weight: 500;
    transition: 0.5s;
}
.Opciones li:hover a{
    color: var(--blanco);
}

@media (min-width: 900px){
    .Opciones{
        display: block;
        margin-top: 3rem;
        background-color: #62929a;
        padding: 1rem 2rem;
        border-radius: 1rem;
        transition: 0.5s;
        visibility: hidden;
        opacity:0;
    }
    .Opciones.activo{
        visibility: visible;
        opacity: 1;
    }
    .Opciones li{
        padding: 1rem 0;
        display: flex;
        gap: 0.5rem;
        opacity: 0.5;
        transition: 0.5s;
    }
    .Opciones li:not(:first-child){
        border-top: 1px solid var(--primario);
    }
    
    .Opciones li img{
        max-height: 5rem;
        max-width: 5rem;
        
    }
    .Opciones li:hover{
        opacity: 1;
    
    }
    .Opciones li a{
        text-decoration: none;
        display: inline-block;
        color: var(--negro);
        font-weight: 500;
        transition: 0.5s;
    }
    .Opciones li:hover a{
        color: var(--blanco);
    }
    
}





section{
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



/* Seccion 1 */
section:nth-child(1){
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Fondo3.jpeg");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center center;
    min-width: 52rem;
}
.Presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;                       
    justify-content: center;
}
.pagina__1__img{
    border-radius: 25rem;
    width: 25rem;
    height: 25rem;
    
}
.contenedor_nombre{
    display: inline-block;
}
.typewriter{
    overflow: hidden;
    border-right: .15em solid var(--negro);
    white-space: nowrap;
    font-size: 4rem;
    width: 0;
    animation: 
        typing 2s steps(30, end) forwards,
        blink 1s infinite;

}
.typewriter2{
    overflow: hidden;
    border-right: .15em solid var(--negro);
    white-space: nowrap;
    font-size: 2rem;
    width: 0;
    animation: 
        typing 3s steps(50, end) forwards,
        blink 1s infinite;

}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: var(--negro); }
}






/* Seccion 2 */

section:nth-child(2){
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Fondo1.jpeg");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center center;
    min-width:52rem;
}
.contenedor{
    width: 100%;
    height: 100%;
}
.contenedor__informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(70, 70, 70, 0.55);

}
.Foto__informacion{
    display: none;
}
.Sub_titulo{
    padding: 0  3rem;
}
.Descripcion{
    padding: 0  3rem;

}
.Tecnologias__Sub_titulo{
    text-align: center;
}
.Contacto p{
    font-size: 1.5rem;
}
.Tecnologias{
    display: flex;
    width: 100%;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}
.contenedor__Tecnologias{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

@media (min-width: 1180px){
    section:nth-child(2){
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Fondo1.jpeg");
        background-repeat:no-repeat ;
        background-size: cover;
        background-position: center center;
    }
    .contenedor{
        width: 80%;
        height: 90%;
    }
    .contenedor__informacion{
        display: grid;
        grid-template-columns:1fr 1fr;
        align-items: center;
        justify-content: center;
        background-color:rgba(70, 70, 70, 0.55);
        border-radius: 3rem;
        transition: 0.8s;
    -webkit-box-shadow: 0px 0px 53px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 53px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 53px 3px rgba(0,0,0,0.75);
        
    }
    .Foto__informacion{
        display: block;
        justify-self: center;
        align-items: center;
        padding: 2rem;
        max-width: 40rem;
        max-height: 38rem;
        border-radius: 50px;
        transition: 1s;
    }
    .Sub_titulo{
        padding: 0  3rem;
    }
    .Descripcion{
        padding: 0  3rem;
    }
    .Descripcion span{
        color: var(--secundario);
        font-weight: 600;
    }
    .Tecnologias__Sub_titulo{
        text-align: center;
    }
    .Contacto p{
        font-size: 1.5rem;
    }
    .contenedor__Tecnologias{
        display: flex;
        justify-content: space-around;
    }
    .Tecnologias{
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    
    
    }
}
@media (min-width: 1180px){
    .contenedor__Tecnologias{
        display: flex;
        justify-content: space-around;
    }
    .Tecnologias{
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
    
    
    }




}




/* Seccion 3 */

section:nth-child(3){
    min-width: 52rem;

}
.Contendor__Portafolio{
    display: flex;
    flex-direction: column;
}

.Contenedor_proyectos{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-rows: 1fr 8fr; */
    height:60%;
    width: 100%;
    /* background-color: var(--primario); */
}
.Sub_titulo_Proyectos{
    position: absolute;
    height: 8rem;
    padding: 3rem 0;
    padding-left: 10rem;
    width: 100%;
    top: 0rem;
    margin: 0;
    z-index: 1;
    color: var(--blanco);
    text-align:left;
    background: rgba(0, 0, 0, 0.4);
}
.Img__Proyectos{
    height: 100%;
    padding: 0;
}

/* Slides */

.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slides{
    width: 300%;
    height: 100%;
    display: flex;
    position: relative;
}
.slides input{
    display: none;
}

.slide{
    width: 33.3%;
    transition: 2s;
}
.slide img{
    width:80rem ;
    height: 100%;
}

.navegation-auto{
    position: absolute;
    width: 80rem;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-bottom: 3rem;
}
.navegation-auto div{
    border: 2px solid var(--negro);
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 1s;
}
.navegation-auto div:not(:last-child){
    margin-right: 4rem;
}
#radio1:checked ~ .navegation-auto .auto-btn1{
    background: var(--negro);
}
#radio2:checked ~ .navegation-auto .auto-btn2{
    background: var(--negro);
}
#radio3:checked ~ .navegation-auto .auto-btn3{
    background: var(--negro);
}



.navegation-manual{
    position: absolute;
    width: 80rem;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-bottom: 3rem;
}
.manual-btn{
    border: 2px solid var(--negro);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 4rem;
}
.manual-btn:hover{
    background-color: var(--negro);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -33.3%;
}
#radio3:checked ~ .first{
    margin-left: -66.6%;
}









.Proyectos{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    align-items: center;
    justify-content: space-between;
    height:40%;
    width: 100%;
    background-color: var(--primario);
}
.grid__item{
    justify-self: center;
    position: relative;
}
.Img__proyecto{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 38px 38px 38px 38px;
-moz-border-radius: 38px 38px 38px 38px;
-webkit-border-radius: 38px 38px 38px 38px;
border: 5px solid #000000;
    
}
.Informacion__grid__item{
    width: 100%;
    height: 25%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 38px 38px;
    /* opacity: ;  */
}


@media (min-width: 740px){
    section:nth-child(3){
        /* background-color: var(--secundario); */
        /* background: rgb(92,87,87);
        background: linear-gradient(180deg, rgba(92,87,87,1) 0%, rgba(0,0,0,1) 35%, rgba(98,146,154,1) 100%); */
    
        /* background: rgb(92,87,87);
    background: linear-gradient(180deg, rgba(92,87,87,1) 0%, rgba(98,146,154,1) 100%); */
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Fondo2.jpeg");
        background-repeat:no-repeat ;
        background-size: cover;
        background-position: center center;
    
    
    }
    .Contendor__Portafolio{
        display: flex;
        flex-direction: column;
    }
    
    .Contenedor_proyectos{
        position: unset;
        display: grid;
        justify-content: center;
        align-items: center;
        /* grid-template-rows: 1fr 8fr; */
        height: 60%;
        width: 100%;
        /* background-color: var(--primario); */
    }
    .Sub_titulo_Proyectos{
        position: unset;
        margin-bottom: 0;
        
        height: min-content;
        padding: 0;
        width: min-content;

        margin-top: 3rem;

        color: var(--blanco);

        background:none;   
        

    }
    .Img__Proyectos{
        position: unset;
        padding: 1rem;
    }
    
    /* Slides */
    
    .slider{
        width: 80rem;
        height: 100%;
        overflow: hidden;
    }
    .slides{
        width: 300%;
        height: 100%;
        display: flex;
        position: relative;
    }
    .slides input{
        display: none;
    }
    
    .slide{
        width: 33.3%;
        transition: 2s;
    }
    .slide img{
        width:80rem ;
        height: 100%;
    }
    
    .navegation-auto{
        position: absolute;
        width: 80rem;
        display: flex;
        justify-content: center;
        bottom: 0;
        margin-bottom: 3rem;
    }
    .navegation-auto div{
        border: 2px solid var(--negro);
        padding: 0.5rem;
        border-radius: 1rem;
        transition: 1s;
    }
    .navegation-auto div:not(:last-child){
        margin-right: 4rem;
    }
    #radio1:checked ~ .navegation-auto .auto-btn1{
        background: var(--negro);
    }
    #radio2:checked ~ .navegation-auto .auto-btn2{
        background: var(--negro);
    }
    #radio3:checked ~ .navegation-auto .auto-btn3{
        background: var(--negro);
    }




    .navegation-manual{
        position: absolute;
        width: 80rem;
        display: flex;
        justify-content: center;
        bottom: 0;
        margin-bottom: 3rem;
    }
    .manual-btn{
        border: 2px solid var(--negro);
        padding: 0.5rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: 1s;
    }
    
    .manual-btn:not(:last-child){
        margin-right: 4rem;
    }
    .manual-btn:hover{
        background-color: var(--negro);
    }
    #radio1:checked ~ .first{
        margin-left: 0;
    }
    #radio2:checked ~ .first{
        margin-left: -33.3%;
    }
    #radio3:checked ~ .first{
        margin-left: -66.6%;
    }
    
    
    
    
    
    
    
    
    
    .Proyectos{
        display: flex;
        /* grid-template-columns: repeat(3, 1fr); */
        align-items: center;
        justify-content: space-around;

        /* height:40%;
        width: 100%; */
        background:none;
    }
    .grid__item{
        max-width: 33%;
        justify-self: center;
        position: relative;
    }
    .Img__proyecto{
        width: 100%;
        display: block;
        margin: auto;
        border-radius: 38px 38px 38px 38px;
    -moz-border-radius: 38px 38px 38px 38px;
    -webkit-border-radius: 38px 38px 38px 38px;
    border: 5px solid #000000;
        
    }
    .Informacion__grid__item{
        width: 100%;
        height: 25%;
        bottom: 0;
        left: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 0 0 38px 38px;
        /* opacity: ;  */
    }
    
    
}




/* Utilidada Boton */

.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 6rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
@media (min-width: 768px){
    .boton{
        display: inline-block;
    }


}
.boton__primario{
    background-color: var(--negro);
    border-radius: 3rem;
    margin-left: 3rem;
    transition: .8s;

}
.boton__primario:hover{
    background-color: var(--secundario);
    border-radius: 3rem;
    margin-left: 3rem;

}
.boton__secundario{
    background-color: var(--primario);
    /* font-size: 1.6rem; */
    padding: 0.5rem;

}

footer{
    bottom: 0;
}